/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER */
.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* NAV */
.nav {
  display: flex;
  gap: 32px;
  position: absolute;
}

.nav-left {
  left: 40px;
}

.nav-right {
  right: 40px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
}

/* LOGO */
.logo {
  text-align: center;
  color: white;
}

.logo img {
  height: 300px;
  display: block;
  margin: 0 auto -40px;
}

.logo span {
  font-size: 10px;
  letter-spacing: 2px;
  opacity: 0.7;
}


*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f4f8;
  font-size: 1.2rem;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 1%;
}

h1,
h2,
h3 {
  margin: 0;
  margin-top: 20px;
  text-decoration: none;
}

.header {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 300;
  color: gray;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.hero__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 20px;
}

.hero__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  font-size: 52px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero__prof {
  color: #4facfe;
  white-space: nowrap;
}

.hero__subtitle {
  font-size: 38px;
  font-weight: 400;
}

.hero__description {
  margin-bottom: 20px;
}

.hero__contact {
  margin-bottom: 20px;
  font-size: 28px;
}

.hero__contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.hero__contact-link {
  margin-left: 10px;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

.hero__contact-link:hover {
  color: #4facfe;
}

.hero__links {
  display: flex;
}

.hero__link {
  margin-right: 10px;
  font-size: 40px;
  color: #000;
}

.hero__link:hover {
  color: #4facfe;
}

.hero__box {
  max-width: 800px;
  justify-self: center;
  overflow: hidden;
  border: 10px solid #fff;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  animation: ava-animate 5s infinite alternate;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
}

.hero__box-img {
  animation: ava-bg 3s infinite alternate;
}

.projects__title,
.certificates__title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.projects__description,
.certificates__description {
  font-size: 1.125rem;
  color: #6b7280;
  margin-bottom: 2rem;
}

.projects__container,
.certificates__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.project,
.certificate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f5f9;
  transition: background-color 0.3s;
  border-radius: 0.75rem;
  padding: 2rem;
  text-decoration: none;
  color: black;
  height: 500px;
}

.project:hover,
.certificate:hover {
  background-color: #e2e8f0;
}

.shadow-project,
.shadow-certificate {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.divider {
  width: 75%;
  height: 1px;
  background-color: #d1d5db;
  margin: 3rem auto;
  border-radius: 0.5rem;
}

@media screen and (max-width: 978px) {
  .hero {
    padding-top: 30px;
  }

  .hero__container {
    grid-row-gap: 20px;
  }

  .hero__title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .hero__subtitle {
    font-size: 22px;
    font-weight: 400;
  }

  .hero__description {
    font-size: 14px;
  }

  .hero__about {
    text-align: center;
  }

  .hero__links {
    justify-content: center;
  }

  .hero__box {
    max-width: 350px;
    justify-self: center;
  }
}

@keyframes ava-animate {
  0% {
    border-radius: 62% 38% 72% 28% / 67% 32% 68% 33%;
  }

  40% {
    border-radius: 37% 63% 53% 47% / 67% 32% 68% 33%;
  }

  60% {
    border-radius: 23% 77% 39% 61% / 78% 54% 46% 22%;
  }

  100% {
    border-radius: 18% 82% 24% 76% / 43% 54% 46% 57%;
  }
}

@keyframes ava-bg {
  from {
    backdrop-filter: hue-rotate(0);
  }

  to {
    backdrop-filter: hue-rotate(90deg);
  }
}

.shadow-certificate {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img-small-rounded {
  max-width: 700px;
  max-height: 450px;
  height: auto;
  border-radius: 8px;
}

.certificate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f9;
  border-radius: 0.75rem;
  padding: 2rem;
  pointer-events: none;
}

.nod {
  height: 535px;
  width: 450px;
}

.certificate:hover {
  background-color: #f1f5f9;
}

video {
  margin-top: 25px;
}

.project_1_0 {
  margin-top: 35px;
  height: 285px;
}